<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <fields_masks>
                <name>{{team_name}}{{season_start}}{{season_end}}{{special_text}}{{kit_type}}{{clothes_type}}{{number}}{{name_player}}{{condition}}{{size}}</name>
                <sku>{{team_name}}{{kit_type}}{{season_start}}</sku>
            </fields_masks>
        </catalog>
    </default>
</config>
